.inputName{
    margin: 0 10px;
}
.buttonContacts{
    background-color: transparent;
    border: 1px black solid;
    border-radius: 3px;
    padding: 5px;
}
.form{
    border: 2px black solid;
    padding: 20px;
}